<div class="block row">
  <div class="b-title row">
    <a href="#" class="btn-square ico-collapse-v js-collapse-block" title="Expand /Collapse"></a>

    <p class='title row'>
      <%= applicant.name %> (<%= applicant.created_at %>)
    </p>
  </div>
  <div class='layout_fields'>
    <div id="content_fields">
      <div class="row">
        <%= label_tag :name, t('.name') %>
        <%= applicant.name %>
      </div>
      <div class="row">
        <%= label_tag :position, t('.position') %>
        <%= applicant.position %>
      </div>
      <div class="row">
        <%= label_tag :message, t('.message') %>
        <%= applicant.message %>
      </div>
    </div>
  </div>
</div>
